body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form{
  width: 400px;
  height: 600px;
  margin: 120px auto;
}

.input_line{
  width: 396px;
  height: 110px;
  padding: 2px;
  font-size: 25px;
  position: relative;
}

.movie{
  width: 392px;
  height: 40px;
  border: 0;
  border-bottom: 3px solid skyblue;
  position: absolute;
}

#bt{
  width: 100%;
  height: 40px;
  background: white;
  border: 1px solid greenyellow;
  border-radius: 10px;
  font-size: 25px;
}

.input_line label{
  /* display: inline-block; */
  position: absolute;
}

.active ~ label{
  font-size: 15px;
  top: -20px;
}