h1{
    text-align: center;
}
#t1 td{
    
    border: 1px solid black;
    
}
table{
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    width: 800px;
}

#t2 td{
    border: 1px solid black;
    font-size: 10pt;
    height: 30px;
}
#t2 th{
    border: 1px solid black;
    width: 15%;
    height: 30px;
}
p{
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
h1{
    font-size: 20pt;
    font-weight: 700;
    text-shadow: 3px 3px 2px gray;
}
.name1 {
    background: #86B381;
}
.name2{
    background: #CEFBC9;
}
#t2 th{
    background: #8EC7D0;
}
#t2 td{
    background: #D6FFFF;
}
.b1{
    border: 0;
    outline: 0;
    background:skyblue;
    border-radius: 20px;
    box-shadow: 2px 2px 4px gray;
}
.b1:hover {
    background-color: blue;
    box-shadow: 2px 2px 1px rgb(235, 144, 144);
    
}