/* 로또2.css */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
}

#mask{
    width: 600px;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#user_ipt{
    width: 590px;
    height: 90px;
    padding: 5px;
    text-align: center;
    line-height: 90px;
}

#u_input{
    width: 200px;
    height: 20px;
    line-height: 30px;
    padding: 10px;
}

#bt_box{
    width: 590px;
    height: 90px;
    line-height: 90px;
    padding: 5px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#start_bt{
    width: 140px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background: #FF2424;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
}

#start_bt:active{
    border: 1px solid #FF2424;
    background: white;
    color: #FF2424;
}

#result_display{
    width: 590px;
    height: 210px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.r_dp{
    width: 580px;
    height: 60px;
    line-height: 60px;
    padding: 5px;
    text-align: center;
}