@charset "utf-8";

#input_wrap{
  width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

#input_wrap input{
  width: 10%;
  height: 40px;
}
button{
  width: 10%;
  height: 40px;
  border-radius: 10px;
  background: skyblue;
  border: 0;
  color: black;
}