*{margin: 0; padding: 0; list-style-type:none;}
#main{
    width: 1200px;
    height: 752px;
    margin:0px auto;
    margin-top: 50px;   
}

#main table{
    border-spacing: 0px;
    border-collapse: collapse;
}

#main tr td{border: 1px solid black;}

#line1{height: 40px;}

#line1 td{
    width: 1200px;
    text-align: end;
    padding-right: 40px;
}

#line2{height: 50px;}

#line2 ul li{
    float:left;
    margin-left: 65px;
    width: 120px;
    text-align: center;
}

#line2 ul li:hover {color: #999; font-weight: bold;}

#line3 ul{list-style: none; padding-left: 0px;}


#line3_sub{width: 300px; background: rgb(0,100,204);}

#line3_sub ul{
    color: white;
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
}

#line3_sub ul li{height: 30px; line-height: 30px;}

#line3_sub ul li:hover{background:  rgb(178,235,244); color: black;}

#line3{height: 400px;}

.line3_empty{width: 200px;}

img:hover{opacity: 0.4;}

#line3_i{width: 500px;}

img{width: 100%; height: 100%;}

#line4 td{vertical-align: top; text-align: left;}

#line4{height: 150px; font-size: 12pt;}

#line4 ul{
    width: 96.7%;
    height: 30px;
    margin: 0;
    padding: 10px 15px 0 15px;
    border-bottom: 1px solid black;
}

#line4 ul li{
    float: left;
    margin-left: 20px;
    height: 30px;
    line-height: 30px;
    
}

.list1{border: 1px solid black;}

#line4 ul li:hover{border: 1px solid black;}

#line4 ul:hover .list1{border: none;}

#line5{height: 100px;}

.title{
    width: 100%;
    margin: 15px 0 0 10px;
    
}

.t{
    width: 100px;
    display: inline-block;
    position: absolute;
}

.t1{
    border:1px solid black;
}

.t2{
    left: 800px;
}

.t2:hover{
    border: 1px solid black;
}

.t2:hover ~ .t1{border: 0;}

.content
{
    border-bottom: 1px solid black;
    width: 600px;
    height: 22px;
}
