.box{
    position: absolute;
    /* 
        absolute : 모두가 (0,0) 좌표에서 시작 
        relative : 그 다음 공간에서 시작
    */
    width: 50px;
    height: 50px;
}

.div1{
    width: 50px;
    background: red;
}
.div2{
    width: 150px;
    background: yellow;
    left: 50px;
    top: 50px;
    /* margin-left: 50px; */
    z-index: 100; 
    /* z-index : 맨앞으로 튀어나오기 */
    position:fixed;
    /* fixed : 현재 화면 기준으로 고정 돼 위치가 계속 바뀜 */
}
.div3{
    width: 150px;
    background: green;
    left: 25px;
    top: 25px;
    height: 2000px;
    /* margin-left: 125px; */
}

body{
    margin: 0;
    padding: 0;
}
