*{margin: 0; padding: 0; text-decoration: none;}
.mask{width: 100%; height: 100vh; background: black; color: white;}

/* 위 배너 */
.header{
    width: 100%;
    height: 25%;
    display: flex;
}

/* 로고 영역과 박스 */
.logo{
    width: 20%;
    height: 100%;
    text-align: center;
}

.logo img{
    width: 80%;
    height: 100%;
}

.logo img{
    width: 80%;
    height: 100%;
}

/* 로고 이미지 영역 */
.logo_img{
    width: 80%;
    height: 100%;
    text-align: center;
}

.logo_img img{
    width: 60%;
    height: 65%;
    margin-top: 40px;
}

/* 회원가입 영역 */
.center{width: 100%; height: 70%;}
.c_box{width: 600px; height: 600px; margin:0 auto;}
.join_box{width: 100%; height: auto;}
.join_box div{text-align: right; width: 100%; margin-bottom: 20px; font-size: 20px; font-weight: 700;}
.join_box input{width: 260px; height: 20px; border-radius: 10px; border: 2px solid #e70012; background: white; padding: 10px;}
.join_bt{width: 100%; height: auto; text-align: center; margin-top: 150px;}
.join_bt input{width: 80%; height: 50px; background: #e70012; border: none; font-size: 20px; font-weight: 800; border-radius: 10px; cursor: pointer; color: white;}
